<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  
  </p>
<% if user_signed_in?%>
    <div> Authored by: <%= post.user.name %></div>
    <% end %>
  </p>

</div>
