<h1 class="monospace ">Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post, class:"btn btn-primary" %>
          <hr>
    </p>
  <% end %>
</div>


